<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyForum</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyForum.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar-header">
        <nav class="navbar">
            <div class="navbar-sections">
                <a asp-area="" id="navbar-logo" asp-controller="Home" asp-action="Index">MyForum</a>
                <div>
                    <ul class="navbar-list">
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="content">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
