@using MyForum.Views.Thread
@{

    ViewData["Title"] = "Create Post";
}

@model CreatePostModel

<form asp-for="CreatePost" method="POST">
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <input asp-for="Content" />
    <span asp-validation-for="Content"></span>
    <button type="submit">Create new post</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
