@using MyForum.Views.Thread

@{
    ViewData["Title"] = ViewData["ThreadTitle"] + " - Thread";
}
@model IndexModel

@if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="CreatePost" asp-route-id="@Model.ThreadId">Create Post</a>
}


<ul>
    @foreach (var post in Model.Posts)
    {
        <li><a asp-controller="Post" asp-action="Index" asp-route-threadId="@Model.ThreadId" asp-route-postId="@post.Id">@post.Title</a></li>
    }
</ul>

