.login-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.login-title {
    margin-bottom: 40px;
}

.login-form-input-container {
    width: 350px;
    height: 60px;
}

.login-form-input {
    
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: 0;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.login-button {
    width: 320px;
    height: 40px;
    background-color: #116bef;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
