html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: calc(100% - 60px);
}

.content {
    width: 100%;
    height: 100%;
}

.navbar-header {
    width: 100%;
    height: 60px;
}
